<!DOCTYPE html>
<html lang="eng">
<head>
		<meta charset="UTF-8">
		<meta name="viewport">
		<title>create department</title>
		<link rel="stylesheet" href="css.style.css">

</head>
<body> 
		<div class="heading">
		<h2>create department information</h2>
		
		</div>
		
		
		<div class="formcontainer">
		<form action="/createDepartment" method="post">
		<label>create department dept_id</label><br>
		<input type="text" name="dept_id" placeholder="create departmentdept_id" class="input"><br>
		<label>create department dept_name</label><br>
		<input type="text" name="dept_name" placeholder="create departmentdept_name" class="input"><br>
		<input type="submit" value="create department" class="submit">
		
		</form>

		</div>



</body>



</html>